body {
  background: #352f5b;
  color: #fff;
}

.container {
  max-width: 500px;
}

input[type=text],
input[type=text]:focus {
  color: #fff;
  border: none;
  background: rgba(0,0,0,0.2);
  max-width: 100%;
}

.todos li {
  background: #423a6f;
  margin-bottom: 10px;
  padding: 15px;
  border-radius: 5px;
}

.todos li span {
  flex-grow: 1;
  cursor: pointer;
}

.delete {
  cursor: pointer;
  color: #ff6b6b;
}

.delete:hover {
  color: #ff4b4b;
}

.filtered {
  display: none !important; 
}

.text-center {
  text-align: center;
}

.my-4 {
  margin: 2rem 0;
}

.mb-4 {
  margin-bottom: 2rem;
}
